#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Name of the package
PACKAGE=ntbclient

# Destination directory where files will be installed
DESTDIR=$(CURDIR)/debian/$(PACKAGE)

# Destination directory where files will be compiled
BUILDDIR=$(CURDIR)/debian/build

PYINSTALLER := $(shell which pyinstaller 2> /dev/null)

%:
	dh $@ --with python2

build:
ifdef PYINSTALLER
		mkdir -p $(BUILDDIR)
		$(PYINSTALLER) $(CURDIR)/src/ntbclient.py --onefile --specpath $(BUILDDIR)/ --distpath $(BUILDDIR)/ --workpath $(BUILDDIR)/tmp/ -n ntbclient.static
else
		@echo PyInstaller Not found !
endif
	dh $@

override_dh_auto_install:
	install -d -m 755 $(DESTDIR)/usr/bin
	install -m 755 $(CURDIR)/src/ntbclient.py $(DESTDIR)/usr/bin/ntbclient
ifdef PYINSTALLER
	install -m 755 $(BUILDDIR)/ntbclient.static $(DESTDIR)/usr/bin
endif
	install -d -m 755 $(DESTDIR)/usr/share/ntbclient
	install -m 644 $(CURDIR)/conf/ntbclient.conf.spec $(DESTDIR)/usr/share/ntbclient/
	install -d -m 755 $(DESTDIR)/etc/ntbclient
	install -m 644 $(CURDIR)/conf/ntbclient.conf $(DESTDIR)/etc/ntbclient/
	install -d -m 755 $(DESTDIR)/usr/share/initramfs-tools/hooks
	install -m 755 $(CURDIR)/initramfs/hooks/ntbclient $(DESTDIR)/usr/share/initramfs-tools/hooks/
	install -d -m 755 $(DESTDIR)/usr/share/initramfs-tools/scripts/local-bottom
	install -m 755 $(CURDIR)/initramfs/scripts/local-bottom/ntbclient $(DESTDIR)/usr/share/initramfs-tools/scripts/local-bottom/
	install -d -m 755 $(DESTDIR)/usr/share/initramfs-tools/scripts/local-top
	install -m 755 $(CURDIR)/initramfs/scripts/local-top/ntbclient $(DESTDIR)/usr/share/initramfs-tools/scripts/local-top/
	install -d -m 700 $(DESTDIR)/var/lib/ntbclient

clean:
	rm -rf $(DESTDIR)
	rm -rf $(BUILDDIR)
	dh $@

